<div class="orders view">
    <div class="container">
        <div class="row ">
            <div class="row ">
              <div class="col-md-12 caption-small">
                <span class="border-small">Tour Information</span>
              </div>
            </div>
        </div>
       <!-- <div class="navbar">
            <ul class="nav navbar-nav">
                <li class="toolbar-item">
                    <a routerLink="details" routerLinkActive="active">
                     Tour Details
                    </a>
                </li>
                <li class="toolbar-item">
                    <a routerLink="edit" routerLinkActive="active">
                        <span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;Edit Activity
                    </a>
                </li>
            </ul>
        </div>-->
        <div class="container">
            <router-outlet></router-outlet>
            <a routerLink="/activities">View all Activities</a>
        </div>
    </div>
</div>






