<div *ngIf="activity">
  <div class="row">
    <div class="col-md-2">
      <img src="images/{{activity.picture | lowercase}}.png" class="details-image" />
    </div>
    <div class="col-md-10">
      <h3>{{ activity.name | capitalize }} <i *ngIf="activity.registerUrl">(registration needed please)</i> <br/></h3>
      <h4><div [innerHTML]="activity.description"></div></h4>
      <h4>
        <br />
        When ? {{ activity.date }}<br/>
        Where ? {{ activity.address }}<br/>
      </h4>
    </div>
  </div>    
  <br /><br />
  <div class="row">
    <div class="col-md-12">
      <cm-map [latitude]="activity.latitude"
           [longitude]="activity.longitude"
           [zoom]="13"
           [enabled]="mapEnabled"
           [markerText]="'<h3>' + activity.name + '</h3>' + activity.date + ' with ' + activity.organizerName"></cm-map>
    </div>
  </div>
</div>   
<div *ngIf="!activity" class="row">
   No activity found
</div>  