<div class="activities view indent">
    <div class="container">
        <header>
            <h3>
                <span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;Orders
            </h3>
        </header>
        <br />TODO
<!--
        <div class="container">
            <div *ngIf="activities">

                <div class="row" *ngFor="let activity of activities;trackBy:trackbyService.activity">
                    <h4>{{ activity.name | capitalize }} {{ activity.description | capitalize }}</h4>
                    <br />
                    <table *ngIf="activity.orders && activity.orders.length" class="table table-striped table-hover orders-table">
                        <tr *ngFor="let order of activity.orders;trackBy:trackbyService.order">
                            <td>{{order.productName}}</td>
                            <td class="text-right">{{ order.itemCost | currency:'USD':true }}</td>    
                        </tr>
                        <tr class="summary-border">
                            <td>&nbsp;</td>
                            <td class="text-right">{{ activity.orderTotal | currency:'USD':true }}
                        </tr>
                    </table>
                    <div *ngIf="!activity.orders || !activity.orders.length">
                        No orders found
                    </div> 
                </div>

                <cm-pagination [hidden]="!activities"
                    [totalItems]="totalRecords" 
                    [pageSize]="pageSize" 
                    (pageChanged)="pageChanged($event)"></cm-pagination>

            </div>
            <div *ngIf="!activities">
                No activities found
            </div>
        </div>
-->
    </div>
</div>
