<div class="activities view indent">
    <div class="container">
        <header>
            <h3>
                Come & sleep in Lyon
            </h3>
        </header>
        <br />
        <h3>How to book ? How to pay ?</h3>
        <p>Enter your contact information in the form next to the activity. I will contact you soon.</p>
        <h3>How to come ?</h3>
        <ul>
            <li>Train : 2 hours from Paris </li>
            <li>Plane : airport is about 25minutes from city center, possibility to care you </li>
        </ul>
        <h3>Climate</h3>
        <p>The climate of Lyon and the Rhone is semi-continental with alternating influences of Mediterranean climate, continental and oceanic.

            Springs and falls are very pleasant.
            
            Summer can be sweltering with temperatures up to 30 degrees.
            
            Winters are harsh, marked by sometimes heavy frosts and snowfalls that can go up to 10 cm which invariably cause huge traffic jams !</p>
        <h3>Where to sleep ?</h3>
        <ul>
            <li>Hostels : Ask me, special fees </li>
        </ul>
    </div>
</div>
<br/>
<div id="mmd-flight-widget"></div>



