<div class="activities view indent">
    <div class="container">
        <header>
            <h3>
                Come & sleep
            </h3>
        </header>
        <br />
        <h3>How to come ?</h3>
        <i>Always take a look at companies websites prices after finding your flight</i>
        <ul>
            <li>Plane: <a href="http://www.edreams.com" target="_blank">www.edreams.com</a> </li>
            <li>Plane: <a href="http://www.liligo.com" target="_blank">www.liligo.com</a> </li>
            <li>Plane (usefull website, FR) : <a href="http://www.partirou.com/vols/" target="_blank">www.partirou.com</a> </li>
            <li>Train : <a href="http://www.sncf.com/" target="_blank">www.sncf.com</a> </li>
            <li>Bus : <a href="https://www.busradar.fr/" target="_blank">www.busradar.fr</a> </li>
            <li>By Car (free of charge, FR) : <a href="https://covoiturage-libre.fr/" target="_blank">covoiturage-libre.fr</a> </li>
            <li>By Car (blablacar) : <a href="https://www.blablacar.fr/" target="_blank">www.blablacar.fr</a> </li>
        </ul>
        <h3>Where to sleep ?</h3>
        <ul>
            <li>BeWelcome : <a href="http://www.bewelcome.org" target="_blank">www.bewelcome.org</a> </li>
            <li>TrustRoots : <a href="https://www.trustroots.org" target="_blank">www.trustroots.org</a> </li>
        </ul>
    </div>
</div>
<br/>
<div id="mmd-flight-widget"></div>



