<footer>
    <div class="navbar">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <blockquote>
                        <p>5 years of experience in Paris, Toulouse, now guiding in Lyon</p>
                        <p>Languages spoken FR/EN/GB/USA</p>
                    </blockquote>
                </div>
                <div class="col-md-4">
                    <blockquote>
                        <p>Professional guide</p>
                        <p>Official French Guiding card since 2010</p>
                    </blockquote>
                </div>
                <div class="col-md-4">
                    <blockquote>
                        <p>Contacts:
                            <a href="https://www.facebook.com/dorothee.fournier.3" target="_blank" rel="noopener"
                                aria-label="Facebook">
                                <img src="images/facebook.png" width="25" height="25"> </a> </p>

                        <div class="fb-like" data-href="http://localhost:8080/welcome" data-width="20"
                            data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
                            <p>Ask me for on special tours</p>
                    </blockquote>
                </div>
            </div>
            <div class="row">
                <i>All rights reserved - 2020</i>
            </div>
        </div>
    </div>
</footer>