<div class="view">
    <div class="container">
        <header>
            <h3>Hi ducks!</h3>
        </header>
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <p>
                    The locals together are glad to invite you again in Toulouse to the 6th edition
                    of Seek The Duck, a Bewelcome gathering for locals and travelers, on June 2nd, 3rd and 4th 2017. Feel free to
                    invite your friends, your neighbours... and to tell about this event in your local group!
                    All activities are free, except if you want to participate to the wine tasting
                    (3€ to cover the costs). You also may have to bring some food & drinks of your
                    choice to share with others.</p>
                    <p>
                    Come here easily by trains, buses or car-pooling, meet locals and share this crazy
                    adventure with them... please tell to others if you need a place for the carpooling,
                    accomodations here... </p>
                    <p>
                    Please register on BeWelcome so locals will be able to host you <a href="http://www.bewelcome.org/activities/1757" target="_blank">BeWelcome SeekTheDuck page...<br/>
                    <img src="images/BeWelcome-logo.png" width="250"/></a></p>
                    <p>Please use the "Planning" button to see the activities in detail and register.</p>
                    <p>See U !</p>
                </div>
                <div class="col-md-10">
                <img src="images/canard.png"/>
                </div>

            </div>
        </div>
    </div>
</div>