<div class="view">
    <div class="container">
        <header>
            <h3>Guide conférencière In LYON !</h3>
        </header>
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <p>
                        Guide conférencière, amoureuse de notre patrimoine pluriel, j'ai eu la chance de pouvoir guider des groupes très divers à Toulouse, Lyon, et Brocéliande (où je me suis initiée à l'art du conte), avant de m'installer dans la région parisienne. C'est avec plaisir que je vous ferai découvrir quelques trésors dont recèle Paris et sa région, de 7 à 77 ans (et même plus/moins !)
                    </p><p>
                        Au plaisir de vous rencontrer !
                        </p><p>
                        Professional Guide, and passionate about our diverse heritage, I have had the great opportunity to guide in such beautiful places as Toulouse, Lyon, Brocéliande (where I was a tale-teller) and Paris & its region where I settled. It will be my pleasure to make you (re)discover some of the treasures that Paris & its region have in store, and see some places you thought you knew in a different light! (For the youngest & smallest to the oldest & tallest ones!)
                        </p><p>
                        Hope to guide you soon!
                        </p><p>
                        Guía profesional y enamorada de nuestro patrimonio, tuve la suerte de guiar grupos muy distintos en Toulouse, Lyon, y Brocéliande (la Bretaña celta y sus cuentos & leyendas), antes de instalarme en París y su región. Os guiaré y haré descubrir (de nuevo) unos de los tesoros que tienen París y su región con mucho gusto. (Para los más pequeños hasta los más mayores)
                        </p><p>
                        Hasta pronto, Dorothée F.</p>
                </div>
                <div class="col-md-10">
                    <img class="contour-flou" src="images/df.jpg"/>
                </div>

            </div>
        </div>
    </div>
</div>