<div class="view indent">
    <div class="container">
        <header class="df-head">
            <h3>Lyon Historical / architectural tours with official guide</h3>
        </header>
        <br /> 
        <div class="row">
            <div class="col-md-10">
<!--                  <div [innerHTML]="welcome.description"></div>-->
                <p>
                    Professional Guide, and passionate about our diverse heritage, I have had the great opportunity to guide in such beautiful places as Toulouse, Lyon, Brocéliande (where I was a tale-teller) and Paris & its region where I settled. It will be my pleasure to make you (re)discover some of the treasures that Paris & its region have in store, and see some places you thought you knew in a different light! (For the youngest & smallest to the oldest & tallest ones!)
                    </p><p>
                    Hope to guide you soon!
                    </p><p>
                    Guía profesional y enamorada de nuestro patrimonio, tuve la suerte de guiar grupos muy distintos en Toulouse, Lyon, y Brocéliande (la Bretaña celta y sus cuentos & leyendas), antes de instalarme en París y su región. Os guiaré y haré descubrir (de nuevo) unos de los tesoros que tienen París y su región con mucho gusto. (Para los más pequeños hasta los más mayores)
                    </p><p>
                    Hasta pronto, Dorothée F.</p>
            </div>
            <div class="col-md-10">
                <img class="contour-flou" src="images/df.jpg"/>
            </div>

        </div>
    </div>
</div>
